<div class="row g-3">

    <div class="col-6 offset-md-3">
        <form [formGroup]="userRegistration" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="card-header">
                    User Registration Form [Http Client POST API, Observable, localStorage]
                </div>
                <div class="card-body">
                    <div class="px-4 py-4 text-start">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="email" class="form-label">Email: eve.holt@reqres.in </label>
                                <input id="email" type="email" class="form-control" formControlName="email">
                                <div class="errorMsg"
                                    *ngIf="userRegistration.get('email')?.hasError('invalidEmail') && userRegistration.get('email')?.touched">
                                    Please enter a valid email address.
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="password" class="form-label">Password: </label>
                                <input id="password" type="password" class="form-control" formControlName="password">
                                <div class="errorMsg"
                                    *ngIf="userRegistration.get('password')?.hasError('invalidPwd') && userRegistration.get('password')?.touched">
                                    Password must at least 8 characters, at least one uppercase letter, one lowercase letter, one digit, and one special character
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary" [disabled]="!userRegistration.valid"
                        (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- toast message -->
<div id="successToast" class="toast-container toast align-items-center text-bg-secondary border-0 translate-middle"  style="position: fixed;top: 40px;right: -100px;" [class.show]="showToast"
    role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{ toastMessage }}
        </div>
</div>
</div>